<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="resources/img/myAvatar.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ $appUser.username }}</p>
                <!-- Status -->
                 <a href="#"><i class="fa fa-circle text-success"></i> Online</a> 
            </div>
        </div>

        <!-- search form (Optional) -->

        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Menú Principal</li>
            <li><a href="#" data-ui-sref="site.home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <!-- Optionally, you can add icons to the links -->
            <!--<li class="active"><a data-ui-sref="cliente"><i class="fa fa-link"></i> <span>Clientes</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>-->
            <li class="treeview">
                <a href="#"><i class="fa fa-car"></i> <span> Inventario</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" data-ui-sref="car.list">Búsqueda personalizada</a></li>
                    <li><a href="#" data-ui-sref="car.create">Nuevo Vehículo</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> <span> Mensajería</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" data-ui-sref="message.inbox">Bandeja de entrada</a></li>
                    <!--<li><a href="#" data-ui-sref="message.new">Nuevo mensaje</a></li>-->
                </ul>
            </li>
            
            <li class="treeview">
                <a href="#"><i class="fa fa-road" aria-hidden="true"></i> <span> Pruebas de Manejo</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" data-ui-sref="drivingtest.received">Solicitudes recibidas</a></li>
                    <li><a href="#" data-ui-sref="drivingtest.confirmed">Solicitudes confirmadas</a></li>
                    <li><a href="#" data-ui-sref="drivingtest.executed">Solicitudes ejecutadas</a></li>
                    <li><a href="#" data-ui-sref="drivingtest.schedule">Programar</a></li>
                </ul>
            </li>            

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>