<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        BrumProfile
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a href="#">. Powered By BrumProfile</a>.</strong> All rights reserved.
</footer>
