<style>
    .login-left-col{
        background-image: url('resources/img/login-left-bg.jpg');
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-position: center 30px; 
        min-height: 640px;
    }
    
    .login-right-col{
        background-image: url('resources/img/login-right-bg.jpg');
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-position: -280px bottom; 
        min-height: 640px; 
        overflow: hidden;
        border-left: solid 1px #333;
    }

    .login-logo-center{
        width: 320px;
        position:absolute;
        left:50%;
        margin-left: -160px;
        top:30px;
        z-index: 1;
        text-align: center; 
    }
    
    .login-right-col .login-box{
        margin-top:15%;
    } 
    
    .login-right-col .login-box-body, 
    .login-right-col .register-box-body{
        background: rgba(255,255,255, .8);
    }    
</style>


<div class="login-logo-center">
    <img src="resources/img/logologin209x200.png" alt="Logo Login" />
</div>

<div class="row">

    <div class="col-md-6 col-md-push-6 login-right-col" data-ui-view=""></div>

    <div class="col-md-6 col-md-pull-6 login-left-col">

    </div>
</div>


<!-- /.login-box -->