<mcui-box data-box-title="Notificaciones" footer-slot="false">

    <mcui-box-tool-slot>
        <div class="has-feedback">
            <input type="text" class="form-control input-sm" placeholder="Search">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </mcui-box-tool-slot>


</mcui-box> 