<div class="row">
    <div class="col-md-3">
        <mcui-box data-box-title="Solicitudes" data-box-body-class="no-padding" footer-slot="false">
            <mcui-box-tool-slot>
                <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
            </mcui-box-tool-slot>

            <ul class="nav nav-pills nav-stacked">
                <li data-ui-sref-active="active">
                    <a href="#" data-ui-sref="drivingtest.received">
                        <i class="fa fa-link"></i> 
                        Recibidas
                        <span class="label label-primary pull-right badged">2</span>
                    </a>
                </li>
                <li data-ui-sref-active="active">
                    <a href="#" data-ui-sref="drivingtest.confirmed">
                        <i class="fa fa-check"></i> 
                        Confirmadas
                        <span class="label label-primary pull-right badged">2</span>
                    </a>
                </li>
                <li data-ui-sref-active="active">
                    <a href="#" data-ui-sref="drivingtest.executed">
                        <i class="fa fa-star"></i> 
                        Ejecutadas
                        <span class="label label-primary pull-right badged">2</span>
                    </a>
                </li>                
            </ul>  
        </mcui-box>         
        <!-- /. box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div data-ui-view=""></div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->




