<mcui-box data-box-title="DATOS DEL CLIENTE">

    <mcui-box-tool-slot>
        <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
    </mcui-box-tool-slot>    

    <div class="row">

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.nombreApellidos" 
                data-label="Nombre y Apellidos" 
                data-input="{placeholder:'Nombre y Apellidos'}">                
            </mcui-form-input>                                
        </div>  

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.email" 
                data-label="Correo Electrónico" 
                data-input="{placeholder:'Correo Electrónico', type:'email'}">                
            </mcui-form-input>                                
        </div>

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.tlf" 
                data-label="Nro. de Teléfono" 
                data-input="{placeholder:'Teléfono de contacto'}">                
            </mcui-form-input>                                
        </div> 

    </div>    
</mcui-box>

<mcui-box data-box-title="DATOS DEL VEHICULO">

    <mcui-box-tool-slot>
        <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
    </mcui-box-tool-slot>    

    <div class="row">

        <div class="col-sm-3">
            <fieldset>
                <legend>Búsqueda rápida</legend>

                <mcui-form-input 
                    ng-model="vm.model.stock" 
                    data-label="Número de stock" 
                    data-input="{placeholder:'Número de stock'}">                
                </mcui-form-input> 

                <button class="btn btn-default flat"><i class="fa fa-search"></i> Buscar</button>
            </fieldset>
        </div>

        <div class="col-sm-3">

            <fieldset>
                <legend>Búsqueda avanzada</legend>

                <mcui-form-select 
                    ng-model="vm.model.anho" 
                    data-label="Año" 
                    data-properties="{placeholder:'Año'}">                
                </mcui-form-select>

                <mcui-form-select 
                    ng-model="vm.model.marca" 
                    data-label="Marca" 
                    data-properties="{placeholder:'Marca'}">                
                </mcui-form-select>  

                <mcui-form-select 
                    ng-model="vm.model.modelo" 
                    data-label="Modelo" 
                    data-properties="{placeholder:'Modelo'}">                
                </mcui-form-select>  

                <button class="btn btn-default flat"><i class="fa fa-search"></i> Buscar</button>                

            </fieldset>
        </div>

        <div class="col-sm-6">
            <fieldset>
                <legend>Vehículo seleccionado</legend>

                <div class="thumbnail">
                    <img src="https://dummyimage.com/520x200.jpg/ccc" alt="..."> 
                    <div class="caption text-center">
                        <p>2017, Hyunday Acent 300 CV (Stock Nro. 896897)</p>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>    
</mcui-box> 

<mcui-box data-box-title="CALENDARIO">

    <mcui-box-tool-slot>
        <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
    </mcui-box-tool-slot>    

    <div class="row">

        <div class="col-sm-3">

        </div>

        <div class="col-sm-9">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Vehículo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1562</td>
                            <td>Jhon Doe</td>
                            <td>11-07-2017</td>
                            <td><span class="label label-success">Confirmada</span></td>
                            <td>2017, KIA Morning 1.0</td>
                        </tr>

                        <tr>
                            <td>1563</td>
                            <td>Jhon Doe</td>
                            <td>11-07-2017</td>
                            <td><span class="label label-warning">Sin confirmar</span></td>
                            <td>2017, KIA Morning 1.0</td>
                        </tr>

                        <tr>
                            <td>1564</td>
                            <td>Jhon Doe</td>
                            <td>11-07-2017</td>
                            <td><span class="label label-primary">Cancelada</span></td>
                            <td>2017, KIA Morning 1.0</td>
                        </tr> 
                        
                        <tr>
                            <td>1565</td>
                            <td>Jhon Doe</td>
                            <td>11-07-2017</td>
                            <td><span class="label label-danger">Ejecutada</span></td>
                            <td>2017, KIA Morning 1.0</td>
                        </tr>                         
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</mcui-box>