<div class="row">
    <div class="col-md-3">
        <mcui-box data-box-title="Folders" data-box-body-class="no-padding" footer-slot="false">
            <mcui-box-tool-slot>
                <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
            </mcui-box-tool-slot>

            <ul class="nav nav-pills nav-stacked">
                <li data-ui-sref-active="active">
                    <a href="#" data-ui-sref="message.inbox">
                        <i class="fa fa-inbox"></i> 
                        Inbox
                        <span class="label label-primary pull-right">2</span>
                    </a>
                </li>
                <li data-ui-sref-active="active">
                    <a href="#" data-ui-sref="message.notification"><i class="fa fa-bell"></i> Notificaciones</a>
                </li>
            </ul>  
        </mcui-box>         
        <!-- /. box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div data-ui-view=""></div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->




