<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="resources/img/myAvatar.png" alt="User profile picture">

                <h3 class="profile-username text-center">{{ $appUser.username}}</h3>

                <p class="text-muted text-center">{{ $appUser.rol.descripcion}}</p>
                
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <i class="fa fa-user"></i> <a class="pull-right">{{ vm.model.apellidoPaterno }} {{ vm.model.apellidoMaterno }}, {{ vm.model.nombre }}</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i> <a class="pull-right" href="mailto:{{ vm.model.email }}">{{ vm.model.email }}</a>
                    </li>                  
                </ul>                  
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_info" data-toggle="tab">Información del Usuario</a></li>
                <li><a href="#tab_auth" data-toggle="tab">Configuración de acceso</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="tab_info">
                    <form>
                        <div class="row">

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.nombre" 
                                    data-label="Nombres" 
                                    data-input="{placeholder:'Nombres'}">                
                                </mcui-form-input>                                
                            </div>

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.apellidoPaterno" 
                                    data-label="Apellido Paterno" 
                                    data-input="{placeholder:'Apellido Paterno'}">                
                                </mcui-form-input>                                
                            </div>   

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.apellidoMaterno" 
                                    data-label="Apellido Materno" 
                                    data-input="{placeholder:'Apellido Materno'}">                
                                </mcui-form-input>                                
                            </div>   

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.fechaNacimiento" 
                                    data-label="Fecha Nacimiento" 
                                    data-input="{type:'date', placeholder:'Fecha Nacimiento'}">                
                                </mcui-form-input>                                
                            </div> 

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.rut" 
                                    data-label="RUT" 
                                    data-input="{placeholder:'RUT'}">                
                                </mcui-form-input>                                
                            </div>    

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.email" 
                                    data-label="Correo Electrónico" 
                                    data-input="{placeholder:'Correo Electrónico', type:'email'}">                
                                </mcui-form-input>                                
                            </div>

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.tlf1" 
                                    data-label="Teléfono Nro. 1" 
                                    data-input="{placeholder:'Teléfono de contacto. Nro. 1'}">                
                                </mcui-form-input>                                
                            </div> 

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.tlf2" 
                                    data-label="Teléfono Nro. 2" 
                                    data-input="{placeholder:'Teléfono de contacto. Nro. 2'}">                
                                </mcui-form-input>                                
                            </div>                              

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger">Guardar</button>
                                </div>                            
                            </div> 

                        </div>

                    </form>
                </div>
                <!-- /.tab-pane -->                

                <div class="tab-pane" id="tab_auth">
                    <form>

                        <div class="row">

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.password" 
                                    data-label="Contraseña actual" 
                                    data-input="{placeholder:'Contraseña actual', type:'password'}">                
                                </mcui-form-input>                                
                            </div>  

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.password1" 
                                    data-label="Contraseña nueva" 
                                    data-input="{placeholder:'Contraseña nueva', type:'password'}">                
                                </mcui-form-input>                                
                            </div> 

                            <div class="col-sm-4">
                                <mcui-form-input 
                                    ng-model="vm.model.password2" 
                                    data-label="Repetir contraseña" 
                                    data-input="{placeholder:'Repetir contraseña', type:'password'}">                
                                </mcui-form-input>                                
                            </div>  

                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-danger">Guardar</button>
                            </div>

                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->            
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->