<div class="login-box">
    <div class="login-logo">
        <a href="#" data-ui-sref="site.home" style="color:#e6e6e6">Brum <b>Profile</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        
        <h3 class="login-box-msg">Inicio de Sesión</h3>
        
        <p class="">Ingrese sus datos para iniciar sesi&oacute;n</p>

        <form ng-submit="vm.fn.login()" name="frmLogin">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="RUC" ng-model="vm.data.username" required="">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Contrase&ntilde;a" ng-model="vm.data.password" required="">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <!--<div class="checkbox icheck">
                        <label>
                            <input type="checkbox" ng-model="vm.data.rememberMe"> Recordarme
                        </label>
                    </div>-->
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-danger btn-block btn-flat" ng-disabled="frmLogin.$invalid">Ingresar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <p>
            <a href="#" data-ui-sref="auth.recover">Olvide mi contrase&ntilde;a</a>
        </p>
        
    </div>
    <!-- /.login-box-body -->
</div>  
<!-- /.login-box -->