<div class="login-box">
    <div class="login-logo">
        <a href="#" data-ui-sref="site.home" style="color:#e6e6e6">Brum <b>Profile</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">Recuperar contraseña</h3>

        <p>
            Ingrese su correo electrónico y le enviaremos las indicaciones de recuperación.
        </p>

        <form ng-submit="vm.fn.recoverPassword(frmLogin.$valid)" name="frmLogin">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Email" ng-model="vm.data.email" required="">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-danger btn-block btn-flat" ng-disabled="frmLogin.$invalid">Recuperar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <go-to-login-link></go-to-login-link>
        
    </div>
    <!-- /.login-box-body -->
</div>  
<!-- /.login-box -->