<div class="login-box">
    <div class="login-logo">
        <a href="#" data-ui-sref="site.home" style="color:#e6e6e6">Brum <b>Profile</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">Reestablecer contraseña</h3>

        <p>
            Indique la nueva contraseña y confirme.
        </p>        
        
        <form ng-submit="vm.fn.changePassword(frmLogin.$valid)" name="frmLogin">
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Contrase&ntilde;a" ng-model="vm.data.password" required="">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Repita la Contrase&ntilde;a" ng-model="vm.data.password1" required="">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-danger btn-block btn-flat" ng-disabled="frmLogin.$invalid">Ingresar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <go-to-login-link></go-to-login-link>
    </div>
    <!-- /.login-box-body -->
</div>  
<!-- /.login-box -->