<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }

    canvas {
        background-color: #f3f3f3;
        -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
        -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
        box-shadow: 3px 3px 3px 0 #e3e3e3;
        border: 1px solid #c3c3c3;
        height: 100px;
        margin: 6px 0 0 6px;
    }
</style>


<mcui-box data-box-title="DATOS DEL VEHICULO" data-box-body-class="table-responsive" data-footer-slot="false">

    <mcui-box-tool-slot>
        <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
    </mcui-box-tool-slot>


    <div class="row-fluid">

        <div class="col-sm-4">
            <div class="form-group">
                <label>Categoría</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.categoria track by option.id"
                        ng-model="vm.model.categoria">
                </select>                
            </div>
        </div> 

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.patente" 
                data-label="Patente" 
                data-input="{placeholder:'Patente ej: BWWWV34 o W4565'}">                
            </mcui-form-input>
        </div> 

        <div class="col-sm-4">
            <div class="form-group">
                <label>Tipo vehículo</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.tipo track by option.id"
                        ng-model="vm.model.tipo">
                </select>                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Marca</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.marca track by option.id"
                        ng-model="vm.model.marca">
                </select>                
            </div>
        </div>    

        <div class="col-sm-4">
            <div class="form-group">
                <label>Modelo</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.modelo track by option.id"
                        ng-model="vm.model.modelo">
                </select>                
            </div>
        </div>   

        <div class="col-sm-4">
            <div class="form-group">
                <label>Año</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.anho track by option.id"
                        ng-model="vm.model.anho">
                </select>                
            </div>
        </div>  

        <div class="col-sm-4">
            <div class="form-group">
                <label>Versión</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.version track by option.id"
                        ng-model="vm.model.version">
                </select>                
            </div>
        </div> 

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.vin" 
                data-label="Vin" 
                data-input="{placeholder:'Vin'}">                
            </mcui-form-input>
        </div>        

        <div class="col-sm-4">
            <div class="form-group">
                <label>Nro. Puesto</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.puesto track by option.id"
                        ng-model="vm.model.puesto">
                </select>                
            </div>
        </div>         

    </div>     

</mcui-box>

<mcui-box data-box-title="DESCRIPCION DEL VEHICULO" data-box-body-class="table-responsive" data-footer-slot="false">

    <mcui-box-tool-slot>
        <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
    </mcui-box-tool-slot>

    <div class="row-fluid">     

        <div class="col-sm-7">
            <div class="form-group">
                <label>Descripción del vehículo</label>
                <textarea 
                    ng-model="vm.model.descripcion" 
                    class="form-control" rows="12"
                    placeholder="Ingrese la descripción del vehículo">

                </textarea>                
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label>Imágenes del vehículo</label>  
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">

                            <mcui-btn-actionimage 
                                data-delete-fn="vm.fn.deleteImage"
                                data-edit-fn="vm.fn.editImage"
                                data-ref="1"
                                ></mcui-btn-actionimage>

                            <img src="https://dummyimage.com/600x350.jpg/ccc" alt="...">
                            <div class="carousel-caption">
                                Car I
                            </div>
                        </div>                        

                        <div class="item">

                            <mcui-btn-actionimage 
                                data-delete-fn="vm.fn.deleteImage"
                                data-edit-fn="vm.fn.editImage"
                                data-ref="2"
                                ></mcui-btn-actionimage>

                            <img src="https://dummyimage.com/600x350.jpg/8c8e91" alt="...">
                            <div class="carousel-caption">
                                Car II
                            </div>
                        </div>
                        <div class="item">

                            <mcui-btn-actionimage 
                                data-delete-fn="vm.fn.deleteImage"
                                data-edit-fn="vm.fn.editImage"
                                data-ref="3"
                                ></mcui-btn-actionimage>

                            <img src="https://dummyimage.com/600x350.jpg/6f6f70" alt="...">
                            <div class="carousel-caption">
                                Car III
                            </div>
                        </div> 
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>  

                <button class="btn btn-primary flat form-control mt10" ng-click="vm.fn.addImage()"><i class="fa fa-plus"></i> Agregar</button>

            </div>
        </div>        

    </div>     

</mcui-box>  

<mcui-box data-box-title="INFORMACION GENERAL" data-box-body-class="table-responsive" data-footer-slot="false">

    <mcui-box-tool-slot>
        <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
    </mcui-box-tool-slot>


    <div class="row-fluid">

        <div class="col-sm-4">
            <div class="form-group">
                <label>Carrocería</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.carroceria track by option.id"
                        ng-model="vm.model.carroceria">
                </select>                
            </div>
        </div> 

        <div class="col-sm-4">
            <div class="form-group">
                <label>Puertas</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.puertas track by option.id"
                        ng-model="vm.model.puertas">
                </select>                
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Transmisión</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.transmision track by option.id"
                        ng-model="vm.model.transmision">
                </select>                
            </div>
        </div>         

        <div class="col-sm-4">
            <div class="form-group">
                <label>Edición (ej: GL)</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.edicion track by option.id"
                        ng-model="vm.model.edicion">
                </select>                
            </div>
        </div>  

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.precio" 
                data-label="Precio" 
                data-input="{placeholder:'Precio', type:'number'}">                
            </mcui-form-input>
        </div>   

        <div class="clear-fix"></div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Cilindrada</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.cilindrada track by option.id"
                        ng-model="vm.model.cilindrada">
                </select>                
            </div>
        </div>  

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.potencia" 
                data-label="Potencia" 
                data-input="{placeholder:'Potencia'}">                
            </mcui-form-input>
        </div> 

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.color" 
                data-label="Color" 
                data-input="{placeholder:'Color', type:'color'}">                
            </mcui-form-input>
        </div>  

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.kilometraje" 
                data-label="Kilometraje" 
                data-input="{placeholder:'Kilometraje', type:'number'}">                
            </mcui-form-input>
        </div>  

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.motor" 
                data-label="Motor" 
                data-input="{placeholder:'Motor'}">                
            </mcui-form-input>
        </div>         

        <div class="col-sm-4">
            <div class="form-group">
                <label>Techo</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.techo track by option.id"
                        ng-model="vm.model.techo">
                </select>                
            </div>
        </div> 

        <div class="col-sm-4">
            <div class="form-group">
                <label>Tipo combustible</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.combustible track by option.id"
                        ng-model="vm.model.combustible">
                </select>                
            </div>
        </div> 

        <div class="col-sm-4">
            <div class="form-group">
                <label>Tipo dirección</label>
                <select class="form-control"
                        ng-options="option.nombre for option in vm.data.direccion track by option.id"
                        ng-model="vm.model.direccion">
                </select>                
            </div>
        </div>   

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.model.video" 
                data-label="Video YouTube" 
                data-input="{placeholder:'url de su video ej: youtube.com/watch?=1s6d4d1'}">                
            </mcui-form-input>
        </div>          

    </div>     

</mcui-box>  

<mcui-box data-box-title="CARACTERISTICAS ADICIONALES" data-box-body-class="table-responsive" data-footer-slot="false">

    <mcui-box-tool-slot>
        <mcui-btn-widget-collapse></mcui-btn-widget-collapse>
    </mcui-box-tool-slot>


    <div class="row-fluid">     

        <div style="margin-bottom:5px; height:35px; overflow: hidden;" class="col-sm-3" ng-repeat="item in vm.data.caracteristicas">
            <input type="checkbox" ng-model="item.id" /> {{ item.nombre}}
        </div>

    </div>     

</mcui-box>  

<div class="row-fluid text-center">
    <button class="btn btn-default flat">Cancelar</button>
    <button class="btn btn-primary flat">Finalizar</button>
</div>

<script type="text/ng-template" id="app/components/dialog/cmp.delete.html">
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Confirmación</h4>
    </div>
    <div class="modal-body" style="overflow:hidden">
        <div class="row-fluid">
            <p>
                Está seguro de que desea eliminar este elemento?
            </p> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="confirm()">Eliminar</button>
    </div>
</div>
</script>

<script type="text/ng-template" id="app/components/dialog/cmp.addcarimage.html">
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Cargar fotos</h4>
    </div>
    <div class="modal-body" style="overflow:hidden">
                 
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="confirm()">Aceptar</button>
    </div>
</div>
</script>

<script type="text/ng-template" id="app/components/dialog/cmp.deletecar.html">
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Vehículo No. 895979</h4>
    </div>
    <div class="modal-body" style="overflow:hidden">
        <div class="row-fluid">
            <div class="col-sm-4 text-center">
                <i class="fa fa-trash fa-5x"></i>
            </div>
            <div class="col-sm-8">
                <p>
                    Está seguro de que desea eliminar el vehículo?
                </p>
                <p>
                    Se perderá toda la información de este vehículo y no podrá ser recuperada.
                </p> 
            </div>       
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="confirm('No. 895979')">Eliminar</button>
    </div>
</div>
</script>








