/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/04/2017, 08:32:43 AM
    Author     : wonder
*/

.btn-action-image{
    position: absolute; top:5px; left:50%; margin-left:-50px; z-index: 999; opacity: .5
}
.btn-action-image:hover{
    opacity: 1
}
.box.no-border{
    border-top:none;
}

/*MARGIN TOP*/
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}

/*HEIGH*/
.h300{
   height: 350px; overflow-y: scroll; 
}
.h350{
   height: 350px; overflow-y: scroll; 
}

.h500{
   height: 500px; overflow-y: scroll; 
}

/*WIDTH*/
.th-operation{
    width:140px;
    text-align: center;
}

.th-operation-1{
    width:50px;
    text-align: center;
}

/*DIALOG*/
.ngdialog.ngdialog-theme-default .ngdialog-content{
    padding: 0;
}

/*LOGIN BOX*/
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  { 

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  { 

}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  { 

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {  }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

